.my-account{

    background: black;
    color: white;
    width: 649px;
    margin: auto !important;
    border-radius: 10px;

    .logo{
        & img{
            border-radius: 10px;
            background: white;
            width: 50px;
            margin: 10px;
        }

        & span{
            letter-spacing: 1px;
            font-weight: bold;
        }
    }
    .first{
        > div{
        margin-bottom: 10px;
        
        & label{
            margin: 10px;
            font-weight: bold;
        }
        & input{
            border-radius: 10px;
            color: white;
            opacity: 0.7;
        }
    }
    }
    
    
    .second{
        > div{
        margin-bottom: 10px;
        
        & label{
            margin: 10px;
            font-weight: bold;
        }
        & input{
            border-radius: 10px;
            color: white;
            opacity: 0.7;
        }
    }
    }
}

@media (max-width:769px) {
    .my-account{

        background: black;
        color: white;
        width: 100%;
        margin: auto !important;
        border-radius: 10px;
    }
}