@import "../root"; 
.home{
    
.home-body{
    
    .container{
        .open{
            position: relative;

            .welc-small-sc{
                display: none;
            }
            .open-board{

            margin-top: 150px;
            font-family: var(--font-Kanit-bold);
            font-weight: bold;
            font-size: 100px;
            padding: 50px 30px;
            width: fit-content;
            border-radius: 5px;
            color: white;
            transform: rotate(352deg);
            background-color: black;
            position: relative;

            & iframe{
                border: 0;
                position: absolute;
                top: -21px;
                left: 279px;
                width: 82px;
                height: 287px;
                z-index: -1;
            }

           
            &::before{
                content: "";
                border: 1px solid black;
                position: absolute;
                width: 100%;
                top: 0;
                left: 10px;
                transform-origin: left;
                transform: rotate(321deg);
                }   
                &::after{
                    content: "";
                    border: 1px solid black;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    right: 10px;
                    transform-origin: right;
                    transform: rotate(65deg);
                    } 

            }
        }

        & .anime-one{
                border: 0;
                position: absolute;
                top: -293px;
                left: 221px;
                width: 800px;
                height: 700px;
                z-index: -1;
            }

        & .anime-two{
                display: none;
            }
        }
        .all-filters{
            margin-top: 100px;
            .filter{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                & label{
                    font-weight: bold;
                    margin: 5px;
                    font-size: 25px;
                    color: black;
                }
                .select-op{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    &::before{
                        content: "⮯";
                        position: absolute;
                        right: 12px;
                        color: white;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        cursor: pointer;
                        pointer-events: none;
                        z-index: 2;
                        font-size: 30px;
                    }
                .categories{
                    position: relative;
                    border-radius: 30px;
                    background-color: black;
                    color: white;
                    border: none;
                    padding: 10px 10px;
                    font-family: var(--font-Kanit-bold);
                    appearance: none;

                    &:focus{
                        border: none;
                        outline: none;
                    }
                    & option:first-child{
                        pointer-events: none;
                    }
                    & option{
                    background-color: black;
                    color: white;
                    cursor: pointer;

                        &:hover{
                        color: white;
                        background-color: black;
                        }
                    }
                    
                    
                    
                }
            }
                .range{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                & span{
                    margin: 20px 5px 20px 5px;
                    font-size: 25px;
                    font-weight: bold;
                    font-family: var(--font-Kanit-bold);
                    color: black;
                }
                .range-price{
                    margin-top: 20px;
                    appearance: none;
                    width: 250px;
                    position: relative;
                }
                .range-price::-webkit-slider-runnable-track{
                    -webkit-appearance: none;
                    border-radius: 30px;
                    border: 1px solid black;
                    height: 15px;
                }
                
                .range-price::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    background-color: BLACK;
                    height: 13px;
                    width: 15px;
                    border-radius: 35%;
                    cursor: pointer;
                    border-left-color: transparent;
                }
            }
            }
            .search{
                display: flex;
                justify-content: flex-start;
                
                flex-direction: column;
                .search-tool{
                    display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                position: relative;
                height: fit-content;
                
                }
                & i{
                    position: absolute;
                    transform: translate(-50%,-50%);
                    left: 29px;
                    top: 50%;
                    color: black;
                }
                & input{
                    width: 100%;
                    border-radius: 10px;
                    padding: 10px;
                    padding-left: 30px;
                    transition: 0.5s;
                    background-color: white;
                    border: 1px solid black;
                }
                & input:focus{
                    outline: none;
                    border-radius: 30px;
                }
                & input::placeholder{
                    color: rgba(0, 0, 0, 0.425);
                    font-weight: lighter;
                    font-family: var(--font-Kanit-bold);
                }
            }
        }
    }
}


/*for favorite Page*/
.Prod-section{
    margin-top: 100px;
    .all-filters{
        
        .filter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            & label{
                font-weight: bold;
                margin: 5px;
                font-size: 25px;
                color: black;
            }
            .select-op{
                display: flex;
                flex-direction: column;
                position: relative;
                &::before{
                    content: "⮯";
                    position: absolute;
                    right: 12px;
                    color: white;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    cursor: pointer;
                    pointer-events: none;
                    z-index: 2;
                    font-size: 30px;
                }
            .categories{
                position: relative;
                border-radius: 30px;
                background-color: black;
                color: white;
                border: none;
                padding: 10px 10px;
                font-family: var(--font-Kanit-bold);
                appearance: none;

                &:focus{
                    border: none;
                    outline: none;
                }
                & option:first-child{
                    pointer-events: none;
                }
                & option{
                background-color: black;
                color: white;
                cursor: pointer;

                    &:hover{
                    color: white;
                    background-color: black;
                    }
                }
                
                
                
            }
        }
            .range{
                display: flex;
                justify-content: center;
                align-items: center;
            & span{
                margin: 20px 5px 20px 5px;
                font-size: 25px;
                font-weight: bold;
                font-family: var(--font-Kanit-bold);
                color: black;
            }
            .range-price{
                margin-top: 20px;
                appearance: none;
                width: 250px;
                position: relative;
            }
            .range-price::-webkit-slider-runnable-track{
                -webkit-appearance: none;
                border-radius: 30px;
                border: 1px solid black;
                height: 15px;
            }
            
            .range-price::-webkit-slider-thumb{
                -webkit-appearance: none;
                background-color: BLACK;
                height: 13px;
                width: 15px;
                border-radius: 35%;
                cursor: pointer;
                border-left-color: transparent;
            }
        }
        }
        .search{
            display: flex;
            justify-content: flex-start;
            
            flex-direction: column;
            .search-tool{
                display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            position: relative;
            height: fit-content;
            
            }
            & i{
                position: absolute;
                transform: translate(-50%,-50%);
                left: 29px;
                top: 50%;
                color: black;
            }
            & input{
                width: 100%;
                border-radius: 10px;
                padding: 10px;
                padding-left: 30px;
                transition: 0.5s;
                background-color: white;
                border: 1px solid black;
            }
            & input:focus{
                outline: none;
                border-radius: 30px;
            }
            & input::placeholder{
                color: rgba(0, 0, 0, 0.425);
                font-weight: lighter;
                font-family: var(--font-Kanit-bold);
            }
        }
    }
}


/*Media Query*/

@media (min-width :1400px) {
    .home-body{
            
        .container{
            .open{
            }
    
            & .anime-one{
                }
            & .anime-two{
                display: block !important;
                position: absolute;
                right: 0;
                transform: translate(0, -50%);
                top: 45%;
                height: 500px;
                width: 500px;
                }
            }
        }
}

@media (max-width:769px){
    .home{
    
        .home-body{
            
            .container{
                .open{
                    position: relative;
                    width: 100%;
                    height: 180px;
                    &::after{
                        content: "Welcome";
                        position: absolute;
                        background-color: #0d0e14;
                        color: white;
                        /* padding: 10px; */
                        padding-bottom: 47px;
                        padding-top: 5px;
                        top: 29%;
                        left: 182px;
                        transform: rotate(-30deg);
                        font-size: 36px;
                        font-family: var(--font-Kanit-bold);
                        border-radius: 50px;
                        animation: hiphop 3s infinite alternate;
                    }
                    .welc-small-sc{
                        display: block;
                        width: 377px;
                        height: 300px;
                        position: ABSOLUTE;
                        left:21px;
                    }
                .open-board{
                    
                    display: none;
                    }
                }
        
                & .anime-one{
                        display: none;
                    }
                & .anime-two{
                        display: none;
                    }
                }
                .Prod-section{
                .all-filters{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                        .search{
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

@keyframes hiphop {
    0%{
        letter-spacing: 0px;
    }
    50%{
        letter-spacing: 2px;
    }

    100%{
        letter-spacing: 1px;
    }
}

.Prod-section{
    .all-filters{
        display: flex;
        align-items: center;
        justify-content: center;

            .search{
                margin-bottom: 30px;
            }
        }
    }
}


@media (max-width:850px){
    .home-body{
        .container{
            .open{
                .welc-small-sc{
                }
                .open-board{
                & iframe{
                }

                }
            }
            
            & .anime-one{
                display: none;
            }
        }
    }
}